/* PC */
@media (min-width:1024px) {

}
    /* tablet & mobile */
@media (max-width:  63.9375em) {

    .contact-info {
        line-height: 2;
    }

    #footer .social-list a {
        margin: 0 8px ;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

}

/* Tablet */
@media (min-width:46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {

    .btn-mobile {
        width: 100%!important;
        /* text-align: center; */
        border-radius: 15px;
    }

    .s-full-width ,
    .s-col-full {
        width: 100%!important;
    }

    .s-full-width {
        border-radius: 15px;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav{
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    
    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
        line-height: 2.5;
    }

    #footer .copyright a {
        padding: 4px;
    }
}